{% extends 'main.html' %}

{% block login %}
<div class="log-in-div">
        <form class="log-in-form" action="/auth/login/" method="post">
            {% csrf_token %}
                <label for="username">Name</label>
                <input type="text" name="username" id="username">

                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                {% if login_error %}
                    <label class="error">{{ login_error }}</label>
                {% endif %}
            <div class="row">

                <p><input type="submit" class="button expanded" value="Login"></p>

                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}

                <button type="button" class="button secondary expanded wide">
                    <a style="color: white" href="/auth/registration/">Registration</a>
                </button>

            </div>

        </form>
    </div>


{% endblock %}
