{% extends 'main.html' %}

{% block contact %}

<div>
    <h3 style="display: inline-block">List of your friends</h3>
    <a href="/contacts/google_auth/sync/" style="display: inline-block; float: right" type="button" class="button">Import contacts</a>
    <a href="/contacts/create/" style="margin-right: 5px; display: inline-block; float: right" type="button" class="button">+ Create contact</a>
    <a href="/contacts/delete/all/" style="background-color: #cc1111; margin-right: 5px; display: inline-block; float: right" type="button" class="button">Delete all contacts</a>

<div class="dropdown" style="float: right; display: inline-block">
  <button class="button dropbtn" type="button" style="margin-right: 5px;">Sort by</button>
  <div class="dropdown-content">
    <a href="/contacts/filter/country">Country</a>
    <a href="/contacts/filter/city">City</a>
    <a href="/contacts/filter/job">Job</a>
  </div>
</div>
    {% block filter %}{% endblock %}
    <br>
    <br>
</div>

<div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
    {% if contacts %}
        {% if country %}
            {% for contact in contacts %}
                {% if contact.country == country %}
                    <div class="cell">
                            <div class="callout" style="height: 95%;">
                                <p align="center" style="font-size: x-large;">{{contact.name}} {{contact.patronymic}}</p>
                                <div align="center" style="align-items: center; margin: 5px; position: relative;">
                                    <img src="{{contact.photo}}" style="border-radius: 10px;">
                                </div>
                                <p align="center" class="subheader">{{contact.mobile_phone}}</p>
                                <p align="center" class="subheader">{{contact.email}}</p>
                                <a href="get/{{contact.id}}/" class="success button" style="width: 100%;">Details</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        {% elif city %}
            {% for contact in contacts %}
                {% if contact.city == city %}
                    <div class="cell">
                        <div class="callout" style="height: 95%;">
                            <p align="center" style="font-size: x-large;">{{contact.name}} {{contact.patronymic}}</p>
                            <div align="center" style="align-items: center; margin: 5px; position: relative;">
                                <img src="{{contact.photo}}" style="border-radius: 10px;">
                            </div>
                            <p align="center" class="subheader">{{contact.mobile_phone}}</p>
                            <p align="center" class="subheader">{{contact.email}}</p>
                            <a href="get/{{contact.id}}/" class="success button" style="width: 100%;">Details</a>
                    </div>
                  </div>
                {% endif %}
            {% endfor %}

        {% elif job %}
            {% for contact in contacts %}
                {% if contact.job == job %}
                    <div class="cell">
                        <div class="callout" style="height: 95%;">
                            <p align="center" style="font-size: x-large;">{{contact.name}} {{contact.patronymic}}</p>
                            <div align="center" style="align-items: center; margin: 5px; position: relative;">
                                <img src="{{contact.photo}}" style="border-radius: 10px;">
                            </div>
                            <p align="center" class="subheader">{{contact.mobile_phone}}</p>
                            <p align="center" class="subheader">{{contact.email}}</p>
                            <a href="get/{{contact.id}}/" class="success button" style="width: 100%;">Details</a>
                    </div>
                  </div>
                {% endif %}
            {% endfor %}

        {% else %}
            {% for contact in contacts %}
                <div class="cell">
                        <div class="callout" style="height: 95%;">
                            <p align="center" style="font-size: x-large;">{{contact.name}} {{contact.patronymic}}</p>
                            <div align="center" style="align-items: center; margin: 5px; position: relative;">
                                <img src="{{contact.photo}}" style="border-radius: 10px;">
                            </div>
                            <p align="center" class="subheader">{{contact.mobile_phone}}</p>
                            <p align="center" class="subheader">{{contact.email}}</p>
                            <a href="get/{{contact.id}}/" class="success button" style="width: 100%;">Details</a>
                    </div>
                  </div>
            {% endfor %}

        {% endif %}

    {% else %}
            <strong>There are no contacts to present.</strong>
    {% endif %}

</div>

{% endblock %}
